body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(221,228,236);
  background: radial-gradient(circle, rgba(221,228,236,1) 0%, rgba(224,231,240,1) 99%);
  }

.header {
  background: rgb(221,228,236);
  background: radial-gradient(circle, rgba(221,228,236,1) 0%, rgba(149,155,163,1) 99%);
}

.navbar-brand,
.label-text {
  color: #1a2c9d ;
}
.navbar-brand img {
  width: 60px;
  margin-right: 10px;
}

.btn {
  font-size: 15px;
}

.btn-primary,
.bg-primary {
  background-color:  #1a2c9d !important;
  border: none;
}

.btn-primary:hover {
  background-color: #1a2c9d;
  opacity: 0.7;
}

.btn-secondary {
  background-color: #646368;
}

.btn-secondary:hover {
  background-color:#646368;
  opacity: 0.7;
}

.icon {
  margin-right: 5px;
}

.carousel .slide { 
  display: flex; 
  align-items: center; 
 
} 
.carousel .slide img { 
  height: 500px; 
} 
 
.img-thumbnail {
  height: 450px !important;
}

.thumbnail {
  width:50px !important;
  height: 50px !important;
}

.list-group-item {    
    background-color: transparent !important;
    border: none !important;
}